In [1]:
import pandas as pd
exam = pd.read_csv('exam.csv')
df = pd.DataFrame({'sex' : ['F', 'M', 'F', 'M'], 
                   'country' : ['Korea', 'China', 'Japan', 'USA']})
df.query('sex == "F" & country == "Korea"') # 다른 따옴표 사용

  sex country
0   F   Korea
1   M   China
2   F   Japan
3   M     USA

In [2]:
import pandas as pd
exam = pd.read_csv('exam.csv')

# 외부 변수 사용
var = 3
exam.query('nclass == @var')

    id  nclass  math  english  science
8    9       3    20       98       15
9   10       3    50       98       45
10  11       3    65       65       65
11  12       3    45       85       32